body {
    background-color: #022E3A;
}

.container {
    display: flex;
    flex-direction: column;
}

.icon-in-circle {
    margin-top: 100px;
    position: absolute;
    width: 140px;
    height: 140px;
    align-self: center;
    border-radius: 50%;
    background: #A1855B;
}

.icon {
    width: 70%;
    margin: 20px 20px;
}

.calc-panel {
    position: absolute;
    width: 500px;
    height: 300px;
    align-self: center;
    background: #A1855B;
    border-radius: 15px;
    margin-top: 386px;
}

.calc-panel-inner {
    display: block;
    margin-top: 35px;
    margin-left: 100px;
}

.label-input-expression {
    margin-left: 75px;
}

.input-expression {
    margin-top: 20px;
    padding: 0;
    width: 300px;
    height: 35px;
    border-radius: 15px;
    background: #C1D1D3;
    text-align: center;
    font-family: Oswald, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
}

.output-result {
    margin-top: 20px;
    padding: 0;
    width: 300px;
    height: 35px;
    border-radius: 15px;
    background: #C1D1D3;
    text-align: center;
    font-family: Oswald, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
}

.result-button-container {
    margin-top: 35px;
}

.result-button {
    width: 200px;
    height: 30px;
    margin-top: 10px;
    border-radius: 15px;
    margin-left: 50px;
    background: #C1D1D3;
    font-family: Oswald, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
}