html,
body {
    height: 100%;
    background-color: darkslateblue;
}

.first-page-main-container{
    height: 100%;
    min-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subject-info-box-1,
.subject-info-box-2 {
    float: left;
    width: 200px;
    min-width: 10px;
}

.subject-info-box-2 {
    padding-left: 30px;
}

.subject-info-box-1 select,
.subject-info-box-2 select {
    min-width: 240px;
    height: 355px;
    border: 9px solid white;
    background-color: lightgrey;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    font-family: SansSerif, serif;
    font-size: 1.6em;
    text-align: center;
    outline: none;
}

.subject-info-box-1 select option,
.subject-info-box-2 select option {
    margin: 3px;
    padding: 4px 10px 4px 10px;
}

.subject-info-box-1 select option:hover,
.subject-info-box-2 select option:hover {
    background: #4286f4;
    color: white;
}

.subject-info-arrows {
    margin-left: 130px;
    min-width: 100px;
}

.subject-info-arrows input {
    color: #FFFFFF;
    border: 3px solid #FFFFFF;
    font: 10px sans-serif;
    font-size: 1em;
    height: 40px;
    width: 60px;
    border-radius: 1.25em;
    background: #444444;
    outline: none;
    margin-bottom: 10px;
    font-weight: bold;
}

select option:checked,
select option:hover {
    box-shadow: 0 0 10px 100px darkslateblue inset;
}

.subject-info-arrows input:active {
    background: #999;
}
