body{
    background: #076585;
    background: -webkit-linear-gradient(to right, #fff, #076585);
    background: linear-gradient(to right, #fff, #076585);
    color: #FFF;

}

.main-container {
    padding-top: 10em;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons-container {
    display: flex;
    padding-top: 4em;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#timer-button {
    width: 100px;
}

#prev-page-button,
#next-page-button,
#timer-button {
    width: 10em;
    height: 2em;
    margin-top: 40px;
    margin-left: 5px;
    margin-right: 5px;
    color: #FFFFFF;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.2);
    outline: none;
}

#prev-page-button:disabled {
    background: rgba(0, 0, 0, 0);
}

#time {
    width: 2em;
    height: 2em;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}